<?xml version="1.0"?>
<launch>    
<!-- load robot description -->
    <!-- odometry topic will be published to /odom -->
    <include file="$(find diff_drive)/launch/aigo.launch"/>
    <!--include file="$(find aigo_urdf)/launch/aigo_urdf.launch"/-->
    <!-- launch lidar, topic will be published to /scan-->

    <!-- <include file="$(find ydlidar_ros_driver)/launch/X4.launch"/> -->

    <!-- launch imu, topic will be published to /imu and gps topic will be published to /gps -->

    <!-- <include file="$(find wit_node)/launch/wit.launch"/> -->
    

    <!--include file="$(find ntrip_ros)/launch/ntrip_ros.launch"/-->
    <!-- launch aigo_serial to communicate with STM32 board -->
    <include file="$(find aigo_serial)/launch/aigo_serial.launch"/>
    <!-- differential controller parameters and basic localization -->
    <!-- launch laser odometry, topic will be published to /odom_rf2o -->
    <!--include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch"/-->
    <!-- launch robot_localization and navsat transform -->
    <include file="$(find aigo_nav)/launch/localization_run.launch"/>
    <!-- run gmapping to create map -->
    <!--include file="$(find aigo_nav)/launch/gmapping.launch"/-->
    <!-- enable move_base -->
    <include file="$(find aigo_nav)/launch/move_base_nav.launch"/>
    <!-- execute transform to use mapviz-->
    <include file = "$(find aigo_nav)/launch/mapviz.launch"/>
    <!-- send goals to move on ! :) -->
    <include file = "$(find gps_goal)/launch/gps_goal.launch"/>
    <!--include file="$(find aigo_stt_tts)/launch/aigo_voice.launch"/-->
    <include file="$(find aigo_stt_tts)/launch/aigo_pub.launch"/>
  <remap from="ublox_gps/fix" to="fix"/>
</launch>
