<?xml version="1.0"?>
<launch>
    <!-- load robot description -->
    <!--include file="$(find aigo_urdf)/launch/aigo_urdf.launch"/-->
    <!-- launch aigo_serial to communicate with STM32 board -->
    <include file="$(find aigo_serial)/launch/aigo_serial.launch"/>
    <!-- differential controller parameters and basic localization -->
    <!-- odometry topic will be published to /odom -->
    <include file="$(find diff_drive)/launch/aigo.launch"/>
    <!-- launch lidar, topic will be published to /scan-->
    <include file="$(find ydlidar_ros_driver)/launch/X4.launch"/>
    <!-- launch imu, topic will be published to /imu and filtered to /imu/data -->
    <node pkg ="mpu6050" type="mpu6050_node" name="mpu6050"/>
        <remap from="/imu" to="/imu/data_raw"/>
    <node pkg ="imu_tools_madgwick" type="imu_filter_node" name="imu_filter"/>
    <!-- launch gps, topic will be published to /dgps -->
    <include file="$(find dgps_ros)/launch/dgps.launch"/>
    <!-- launch laser odometry, topic will be published to /odom_rf2o -->
    <include file="$(find rf2o_laser_odometry)/launch/rf2o_laser_odometry.launch"/>
    <!-- launch robot_localization and navsat -->
    <include file="$(find aigo_nav)/launch/localization_run.launch"/>
    <!-- run gmapping to create map -->
    <include file="$(find aigo_nav)/launch/gmapping.launch"/>
    <!-- enable move_base -->
    <include file="$(find aigo_nav)/launch/move_base_nav.launch"/>
    <!-- send goals to move on ! :) -->
    <include file="$(find aigo_waypoint)/launch/aigo_waypoint.launch"/>
</launch>
